@charset "UTF-8";
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.text-align {
  text-align: center;
}

/* couleur texte footer et "bouton-explorer"*/
.font-color {
  color: white;
}

/*******/
.font-weight {
  font-weight: bold;
}

/*font*/
main,
footer {
  font-family: "Roboto";
}

/*loader à créer*/
/*header*/
.header__logo {
  box-shadow: inset 0 -7px 9px -7px grey;
}
.header__logo__img {
  width: 50%;
  height: auto;
  margin-top: 28px;
  margin-bottom: 17px;
}

/*recherche input paris, belleville*/
.presentation {
  background: lightgrey;
  /*mettre ce gris $couleur-gris-global*/
  padding-bottom: 50px;
}
.presentation__recherche {
  display: flex;
  justify-content: center;
  background: lightsteelblue;
  /*mettre ce gris $couleur-champs-recherche*/
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}
.presentation__icon-map {
  font-size: 22px;
}
.presentation__input {
  border: inherit;
  font-size: 18px;
  background: lightsteelblue;
  /*mettre ce gris $couleur-champs-recherche*/
}
.presentation__input::placeholder {
  color: black;
  opacity: 1;
}

/********/
h1 {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
}

.sous-titre-h1 {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bouton-explorer {
  background: linear-gradient(0deg, #9356dc, #ff79da);
  width: 200px;
  border-radius: 50px;
  margin: 30px auto 0 auto;
  padding: 17px;
  /* rajouter box shadow*/
}
.bouton-explorer:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}

h2 {
  margin-left: 15px;
}

/*fonctionnement*/
.etape {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: lightgrey;
  /*mettre ce gris $couleur-gris-global*/
  border-radius: 25px;
  margin-bottom: 16px;
  width: 320px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}
.etape:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}
.etape__nombre {
  display: block;
  color: white;
  background: #9356dc;
  border-radius: 100%;
  font-size: 14px;
  width: 25px;
  height: 25px;
}
.etape__icon {
  font-size: 20px;
  color: grey;
}
.etape__icon--icon3 {
  color: #9356dc;
  font-size: 20px;
}
.etape__texte {
  font-size: 17px;
}

/* cartes restaurants*/
.les-restaurants {
  background: lightgrey;
  /*mettre ce gris $couleur-gris-global*/
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.carte {
  background: white;
  box-shadow: 0px 0px 6px 0px grey;
  border-radius: 20px;
  width: 88%;
  margin: 20px auto;
}
.carte:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}
.carte__photo {
  width: 100%;
  height: 200px;
  position: relative;
}
.carte__photo__img {
  border-radius: 18px 18px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carte__mention-nouveau {
  background: #99e2d0;
  color: #2c9c81;
  width: 100px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 10px;
  padding-top: 8px;
}
.carte__legende {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carte__nom-et-lieu {
  margin-right: 40px;
}
.carte__nom {
  margin-bottom: 7px;
  margin-top: 14px;
}
.carte__lieu {
  margin-top: 0;
  margin-bottom: 14px;
}
.carte__coeur {
  font-size: 30px;
  margin: 0 20px 30px 0;
  /*stroke-width: 10; appliquer avec svg
  /* stroke: black;*/
  /* fill: white;
    cursor: pointer;*/
}

/*coeur revoir animation*/
.coeur__blanc {
  z-index: 0;
  position: absolute;
}

.coeur__couleur {
  color: violet;
  /* color: transparent;
    background: linear-gradient(to right, $color-primary, $couleur-secondaire);
    -webkit-background-clip: text;*/
  z-index: -1;
  position: absolute;
}

/*footer*/
.footer {
  background: black;
}
.footer__logo img {
  width: 127px;
  height: 20px;
  filter: invert(100%);
  margin: 40px 0 0 25px;
}
.footer__list {
  padding: 0 0 35px 25px;
  margin-top: 26px;
}
.footer__list__li {
  list-style: none;
  margin-bottom: 15px;
}
.footer__texte1 {
  margin-left: 16px;
}
.footer__texte2 {
  margin-left: 10px;
}
.footer__texte:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

/*desktop*/
@media all and (min-width: 992px) {
  /*header*/
  .header__logo img {
    width: 400px;
  }

  /**************/
  .fonctionnement {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  .les-etapes {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .carte {
    width: 80%;
  }

  .les-restaurants__liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "la-palette-du-gout la-note-enchantee" "a-la-francaise le-delice-des-sens";
  }

  .la-palette-du-gout {
    grid-area: la-palette-du-gout;
  }

  .la-note-enchantee {
    grid-area: la-note-enchantee;
  }

  .a-la-francaise {
    grid-area: a-la-francaise;
  }

  .le-delice-des-sens {
    grid-area: le-delice-des-sens;
  }

  /*footer*/
  .footer {
    text-align: center;
  }
  .footer__logo img {
    width: 400px;
    height: auto;
  }
}
/*fin media queries desktop*/

/*# sourceMappingURL=style.css.map */
