@charset "UTF-8";
/* à voir si cette mixin est utile*/
/***********************/
.carte-menu {
  margin-left: auto;
  margin-right: auto;
}

.bouton-commander:hover, .icon-check:hover, .carte-menu_boite-icon:hover, .carte-menu:hover, .titre-et-coeur__coeur:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}

.carte-menu, .titre-et-coeur, .header-restaurant {
  display: flex;
  align-items: center;
}

/*******************************/
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:not(h1) {
  font-family: "Roboto";
}

/*header*/
.header-restaurant {
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 17px;
}
.header-restaurant__fleche {
  font-size: 20px;
  transform: translateX(-300%);
  /*à revoir*/
}
.header-restaurant__logo {
  width: 45%;
  height: auto;
}

.logo__img {
  width: 100%;
  height: auto;
}

/*header photo*/
.header-restaurant__photo {
  width: 100%;
  height: 270px;
  position: relative;
  z-index: -1;
  /*binome avec position, obligatoirement*/
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**************/
/* coeur revoir animation*/
h1 {
  font-family: "Shrikhand";
  font-size: 25px;
  margin-bottom: 0;
  margin-left: -20px;
}

.titre-et-coeur {
  justify-content: space-around;
  padding-top: 30px;
  position: relative;
}
.coeur__coeur-blanc {
  font-size: 23px;
  z-index: 0;
  position: absolute;
  /* bottom: 23px;
  right: 35px;* les marges viennent perturber la position*/
}

.coeur__coeur-couleur {
  color: violet;
  font-size: 23px;
  z-index: -1;
  position: absolute;
  /* bottom: 23px;
  right: 35px;* les marges viennent perturber la position*/
}

/**********/
.menu {
  background-color: lightgray;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 40px;
  margin-top: -35px;
}
.menu h2 {
  font-weight: inherit;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 30px;
  border-bottom: 3px solid #99e2d0;
  width: 45px;
  padding-bottom: 8px;
}

/********/
.carte-menu {
  width: 93%;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px grey;
  /* box-shadow:5px 5px 15px 5px rgb(0 0 0 / 10%);*/
  position: relative;
  animation: apparition-menu 1s ease-out;
  /* apparition sur la page*/
  overflow: hidden;
}
@keyframes apparition-menu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.carte-menu:nth-child(1) {
  animation-delay: 0.1s;
}

.carte-menu:nth-child(2) {
  animation-delay: 0.2s;
}

.carte-menu:nth-child(3) {
  animation-delay: 0.3s;
}

.carte-menu:nth-child(4) {
  animation-delay: 0.4s;
}

.carte-menu:nth-child(5) {
  animation-delay: 0.5s;
}

.carte-menu:nth-child(6) {
  animation-delay: 0.6s;
}

.carte-menu:nth-child(7) {
  animation-delay: 0.7s;
}

.carte-menu:nth-child(8) {
  animation-delay: 0.8s;
}

.carte-menu:nth-child(9) {
  animation-delay: 0.9s;
}

/* texte carte*/
h3 {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 15px;
}

p {
  margin-top: 5px;
  font-size: 15px;
  /*  white-space: nowrap; à revoir coupe le bloc vert
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.prix {
  font-weight: bold;
  font-size: 15px;
}

.carte-menu__nom-plat-et-description-plat {
  margin-left: 10px;
}

/*apparition boite icon*/
/* boite-icon*/
.carte-menu_boite-icon {
  min-width: 65px;
  height: 100%;
  /*position: absolute;
  right: 0;*/
  border-radius: 0 15px 15px 0;
  background: #99e2d0;
  position: relative;
  right: 0;
}
.carte-menu_boite-icon:hover {
  animation: animation-boite-icon-check 2s ease-out;
}

/*@keyframes animation-boite-icon-check {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}*/
/******************************/
/* animation cercle icon-check*/
.icon-check {
  font-size: 18px;
  color: #99e2d0;
  background: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 33%;
  left: 33%;
}
.icon-check:hover {
  animation: animation-check 2s both;
}

@keyframes animation-check {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
/***************************/
.bouton-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  width: 200px;
  border-radius: 50px;
  margin: 40px auto 0 auto;
  padding: 17px;
  /* rajouter box shadow dans mixin*/
}
/*footer*/
.footer {
  background-color: black;
  color: white;
}
.footer__logo img {
  width: 127px;
  height: 20px;
  filter: invert(100%);
  margin: 40px 0 0 25px;
}
.footer__list {
  padding: 0 0 35px 25px;
  margin-top: 26px;
}
.footer__list__li {
  list-style: none;
  margin-bottom: 15px;
}
.footer__texte1 {
  margin-left: 16px;
}
.footer__texte2 {
  margin-left: 10px;
}
.footer__texte:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style-pages-menu.css.map */
