@charset "UTF-8";
.carte-menu:hover, .titre-et-coeur__coeur:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}

.carte-menu, .titre-et-coeur, .header-restaurant {
  display: flex;
  align-items: center;
}

/*******************************/
a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:not(h1) {
  font-family: "Roboto";
}

/*header*/
.header-restaurant {
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 17px;
}
.header-restaurant__fleche {
  font-size: 20px;
  transform: translateX(-300%);
  /*à revoir*/
}
.header-restaurant__logo {
  width: 45%;
  height: auto;
}

.logo__img {
  width: 100%;
  height: auto;
}

/*header photo*/
.header-restaurant__photo {
  width: 100%;
  height: 270px;
  position: relative;
  z-index: -1;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**************/
h1 {
  font-family: "Shrikhand";
  font-size: 25px;
  margin-bottom: 0;
  margin-left: -20px;
}

.titre-et-coeur {
  justify-content: space-around;
  padding-top: 30px;
  position: relative;
}
.coeur__coeur-blanc {
  font-size: 23px;
  z-index: 0;
  position: absolute;
}

.coeur__coeur-couleur {
  color: violet;
  font-size: 23px;
  z-index: -1;
  position: absolute;
}

.menu {
  background-color: lightgray;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 40px;
  margin-top: -35px;
}
.menu h2 {
  font-weight: inherit;
  font-size: 17px;
  margin-left: 20px;
  margin-top: 30px;
  border-bottom: 3px solid #99e2d0;
  width: 45px;
  padding-bottom: 8px;
  animation: apparition-titre-menu 1s ease-out;
  /* apparition sur la page*/
}

@keyframes apparition-titre-menu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.titre-entrees {
  animation-delay: 0.1s;
}

.titre-plats {
  animation-delay: 0.2s;
}

.titre-desserts {
  animation-delay: 0.3s;
}

.carte-menu {
  width: 93%;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px grey;
  overflow: hidden;
  position: relative;
  animation: apparition-menu 1s ease-out;
}
.carte-menu__nom-plat-et-description-plat {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu__nom-plat {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu__description-plat {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carte-menu__prix-plat {
  padding: 10px 20px;
  align-self: flex-end;
  margin-left: auto;
}
.carte-menu__prix-plat .prix {
  font-weight: bold;
  font-size: 15px;
}
.carte-menu:hover .carte-menu_boite-icon {
  width: 65px;
}
.carte-menu:hover .carte-menu_boite-icon .icon-check {
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all ease-in-out 0.4s;
  transition-delay: 0;
  opacity: 1;
}

@keyframes apparition-menu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
.carte-menu:nth-child(1) {
  animation-delay: 0.1s;
}

.carte-menu:nth-child(2) {
  animation-delay: 0.2s;
}

.carte-menu:nth-child(3) {
  animation-delay: 0.3s;
}

.carte-menu:nth-child(4) {
  animation-delay: 0.4s;
}

.carte-menu:nth-child(5) {
  animation-delay: 0.5s;
}

.carte-menu:nth-child(6) {
  animation-delay: 0.6s;
}

.carte-menu:nth-child(7) {
  animation-delay: 0.7s;
}

.carte-menu:nth-child(8) {
  animation-delay: 0.8s;
}

.carte-menu:nth-child(9) {
  animation-delay: 0.9s;
}

.carte-menu_boite-icon {
  width: 0;
  background: #99e2d0;
  position: relative;
  overflow: hidden;
  align-self: stretch;
  transition: width ease-in-out 0.4s;
}

.icon-check {
  font-size: 18px;
  color: #99e2d0;
  background: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: all ease 0;
  transition-delay: 0.4s;
  transform-origin: center;
  opacity: 0;
}

.bouton-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  width: 200px;
  border-radius: 50px;
  margin: 40px auto 0 auto;
  padding: 17px;
  box-shadow: 0px 0px 6px 0px lightcoral;
}
.bouton-commander:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 0px 0px 6px 0px blue;
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

.footer {
  background-color: black;
  color: white;
}
.footer__logo img {
  width: 127px;
  height: 20px;
  filter: invert(100%);
  margin: 40px 0 0 25px;
}
.footer__list {
  padding: 0 0 35px 25px;
  margin-top: 26px;
}
.footer__list__li {
  list-style: none;
  margin-bottom: 15px;
}
.footer__texte1 {
  margin-left: 16px;
}
.footer__texte2 {
  margin-left: 10px;
}
.footer__texte:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style-pages-menu.css.map */
