.carte:hover, .etape:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}

.carte__legende, .etape__nombre, .etape, .presentation__recherche {
  display: flex;
  align-items: center;
}

.carte__mention-nouveau, .etape__texte {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

main,
footer {
  font-family: "Roboto";
}

.header-accueil__logo {
  box-shadow: inset 0 -7px 9px -7px grey;
  text-align: center;
}
.header-accueil__logo__img {
  width: 50%;
  height: auto;
  margin-top: 28px;
  margin-bottom: 17px;
}
@media all and (min-width: 576px) {
  .header-accueil__logo__img {
    width: 300px;
  }
}

.presentation {
  background: lightgrey;
  padding-bottom: 50px;
}
.presentation__recherche {
  justify-content: center;
  background: #e6e6e6;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}
.presentation__icon-map {
  font-size: 18px;
}
.presentation__input {
  border: inherit;
  font-size: 16px;
  background: #e6e6e6;
  text-align: center;
}
.presentation__input::placeholder {
  color: black;
  opacity: 1;
}

h1 {
  font-size: 32px;
  text-align: center;
}

.sous-titre-h1 {
  font-size: 20px;
  text-align: center;
}

.bouton-explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  width: 200px;
  border-radius: 50px;
  margin: 40px auto 0 auto;
  padding: 17px;
  box-shadow: 0px 0px 6px 0px lightcoral;
}
.bouton-explorer:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
  box-shadow: 0px 0px 6px 0px blue;
  background: linear-gradient(0deg, #9356dc, #ff79da);
}

h2 {
  margin-left: 25px;
  font-size: 28px;
}

.etape {
  background: lightgrey;
  border-radius: 25px;
  margin-bottom: 16px;
  width: 320px;
  height: 65px;
  margin-right: auto;
  margin-left: auto;
}
.etape__nombre {
  justify-content: center;
  color: white;
  background: #9356dc;
  border-radius: 100%;
  font-size: 14px;
  width: 28px;
  height: 28px;
  transform: translateX(-45%);
  margin-right: 16px;
}
.etape__icon {
  font-size: 20px;
  color: grey;
  margin-right: 20px;
}
.etape__icon--icon3 {
  color: #9356dc;
  font-size: 20px;
  margin-right: 20px;
}
.etape__texte {
  font-size: 17px;
}

.les-restaurants {
  background: lightgrey;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}

.carte {
  background: white;
  box-shadow: 0px 0px 6px 0px grey;
  border-radius: 20px;
  width: 88%;
  margin: 20px auto;
}
.carte__photo {
  width: 100%;
  height: 200px;
  position: relative;
}
.carte__photo__img {
  border-radius: 18px 18px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carte__mention-nouveau {
  background: #99e2d0;
  text-align: center;
  color: #2c9c81;
  width: 100px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 10px;
  padding-top: 8px;
}
.carte__legende {
  justify-content: space-around;
  position: relative;
}
.carte__nom-et-lieu {
  margin-right: 40px;
}
.carte__nom {
  margin-bottom: 7px;
  margin-top: 14px;
}
.carte__lieu {
  margin-top: 0;
  margin-bottom: 14px;
}

.carte__coeur {
  position: relative;
}
.carte__coeur:hover .coeur__blanc {
  opacity: 0;
}

.coeur__blanc {
  display: block;
  width: 20px;
  z-index: 0;
  position: relative;
  transition: all ease 0.5s;
  opacity: 1;
}
.coeur__blanc path {
  stroke-width: 20px;
  stroke: black;
}

.coeur__couleur {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.coeur__couleur path {
  fill: url(#gradient-coeur);
}

@media all and (min-width: 768px) {
  .les-restaurants__liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "la-palette-du-gout la-note-enchantee" "a-la-francaise le-delice-des-sens";
  }
  .les-restaurants__liste .la-palette-du-gout {
    grid-area: la-palette-du-gout;
  }
  .les-restaurants__liste .la-note-enchantee {
    grid-area: la-note-enchantee;
  }
  .les-restaurants__liste .a-la-francaise {
    grid-area: a-la-francaise;
  }
  .les-restaurants__liste .le-delice-des-sens {
    grid-area: le-delice-des-sens;
  }
}

.footer {
  background: black;
  color: white;
}
@media all and (min-width: 576px) {
  .footer {
    text-align: center;
  }
}
.footer__logo img {
  width: 127px;
  height: 20px;
  filter: invert(100%);
  margin: 40px 0 0 25px;
}
.footer__list {
  padding: 0 0 35px 25px;
  margin-top: 26px;
}
.footer__list__li {
  list-style: none;
  margin-bottom: 15px;
}
.footer__texte1 {
  margin-left: 16px;
}
.footer__texte2 {
  margin-left: 10px;
}
.footer__texte:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

/*# sourceMappingURL=style.css.map */
