@mixin survol-carte {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
  box-shadow: 0px 0px 11px -1px $couleur-ombre-portee;
}

@mixin boutons-explorer-commander {
  text-align: center;
  color: white;
  background: linear-gradient(
    to bottom right,
    $couleur-secondaire,
    $couleur-primaire
  );
  width: 200px;
  border-radius: 50px;
  margin: 40px auto 0 auto;
  padding: 17px;
  @include box-shadow;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 0px 0px 11px -1px $couleur-ombre-portee;
    background: linear-gradient(
      to bottom right,
      $couleur-secondaire 20%,
      $couleur-primaire 100%
    );
  }
}

@mixin survol-boutons-etapes {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.5s;
  background-color: #eae6ff;
  box-shadow: 0px 0px 11px -1px $couleur-ombre-portee;
  .etape__nombre {
    font-weight: bold;
  }
  .etape__icon {
    color: $couleur-primaire;
  }
}

@mixin box-shadow {
  box-shadow: 0px 0px 11px -3px $couleur-ombre-boites;
}

@mixin apparition-coeur {
  cursor: pointer;
  position: relative;
  &__coeur-blanc {
    display: block;
    width: 20px;
    z-index: 1;
    position: relative;
    path {
      stroke-width: 20px;
      stroke: black;
    }
    transition: all ease 0.5s;
    opacity: 1;
  }
  &__coeur-blanc:hover {
    opacity: 0;
  }
  &__coeur-couleur {
    path {
      fill: url(#gradient-coeur);
    }
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin font-weight-bold {
  font-weight: bold;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin display-flex-align-items-center {
  display: flex;
  align-items: center;
}
