@mixin boutons-explorer-commander {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);
  width: 200px;
  border-radius: 50px;
  margin: 40px auto 0 auto;
  padding: 17px;
  box-shadow: 0px 0px 6px 0px lightcoral;
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 0px 0px 6px 0px blue;
    background: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);
    font-weight: bold;
  }
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
