@import "./_variables";
@import "./_mixins";
@import "./_placeholders";
@import "./mediaqueries";

/*******************************/

a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:not(h1) {
  font-family: "Roboto";
}

/*header*/

.header-restaurant {
  @extend %display-flex-align-items-center;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 17px;
  &__fleche {
    font-size: 20px;
    transform: translateX(-300%); /*à revoir*/
  }
  &__logo {
    @include width-height(45%, auto);
  }
}
// voir pourquoi ne peut pas être nesté
.logo__img {
  @include width-height(100%, auto);
}

/*header photo*/
.header-restaurant__photo {
  @include width-height(100%, 270px);
  position: relative;
  z-index: -1;
}

.photo__img {
  @include width-height(100%, 100%);
  object-fit: cover;
}
/**************/
h1 {
  font-family: "Shrikhand";
  font-size: 25px;
  margin-bottom: 0;
  margin-left: -20px;
}

.titre-et-coeur {
  @extend %display-flex-align-items-center;
  justify-content: space-around;
  padding-top: 30px;
  position: relative;
  &__coeur:hover {
    @extend %survol-bouton;
  }
}
// revoir animation coeur et remplissage couleur progressive
.coeur__coeur-blanc {
  font-size: 23px;
  z-index: 0;
  position: absolute;
}

.coeur__coeur-couleur {
  color: violet;
  font-size: 23px;
  z-index: -1;
  position: absolute;
}

//

.menu {
  background-color: lightgray;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  padding-bottom: 40px;
  margin-top: -35px;
  & h2 {
    font-weight: inherit;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 30px;
    border-bottom: 3px solid $couleur-tertiaire;
    width: 45px;
    padding-bottom: 8px;
    animation: apparition-titre-menu 1s ease-out; /* apparition sur la page*/
  }
}

//apparition h2 titre menu

@keyframes apparition-titre-menu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.titre-entrees {
  animation-delay: 0.1s;
}
.titre-plats {
  animation-delay: 0.2s;
}
.titre-desserts {
  animation-delay: 0.3s;
}

//

.carte-menu {
  width: 93%;
  @extend %display-flex-align-items-center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px grey;
  // box-shadow:5px 5px 15px 5px rgb(0 0 0 / 10%);
  overflow: hidden;
  position: relative;
  animation: apparition-menu 1s ease-out; // apparition sur la page
  &__nom-plat-et-description-plat {
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__nom-plat {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__description-plat {
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__prix-plat {
    padding: 10px 20px;
    align-self: flex-end;
    margin-left: auto;

    .prix {
      font-weight: bold;
      font-size: 15px;
    }
  }
  &:hover {
    @extend %survol-bouton;
    .carte-menu_boite-icon {
      width: 65px;
      .icon-check {
        transform: translate(-50%, -50%) rotate(0deg);
        transition: all ease-in-out 0.4s;
        transition-delay: 0;
        opacity: 1;
      }
    }
  }
}

@keyframes apparition-menu {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.carte-menu:nth-child(1) {
  animation-delay: 0.1s;
}
.carte-menu:nth-child(2) {
  animation-delay: 0.2s;
}
.carte-menu:nth-child(3) {
  animation-delay: 0.3s;
}
.carte-menu:nth-child(4) {
  animation-delay: 0.4s;
}
.carte-menu:nth-child(5) {
  animation-delay: 0.5s;
}
.carte-menu:nth-child(6) {
  animation-delay: 0.6s;
}
.carte-menu:nth-child(7) {
  animation-delay: 0.7s;
}
.carte-menu:nth-child(8) {
  animation-delay: 0.8s;
}

.carte-menu:nth-child(9) {
  animation-delay: 0.9s;
}

//apparition boite icon
// boite-icon

.carte-menu_boite-icon {
  width: 0;
  background: $couleur-tertiaire;
  position: relative;
  overflow: hidden;
  align-self: stretch;
  transition: width ease-in-out 0.4s;
}

//
// animation cercle icon-check
.icon-check {
  font-size: 18px;
  color: $couleur-tertiaire;
  background: white;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-180deg);
  transition: all ease 0;
  transition-delay: 0.4s;
  transform-origin: center;
  opacity: 0;
}

//rajouter box shadow dans mixin bouton
.bouton-commander {
  @include boutons;
}

//footer

.footer {
  background-color: black;
  color: white;
  &__logo img {
    @include width-height(127px, 20px);
    filter: invert(100%);
    margin: 40px 0 0 25px;
  }
  &__list {
    padding: 0 0 35px 25px;
    margin-top: 26px;
    &__li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
  &__texte1 {
    margin-left: 16px;
  }
  &__texte2 {
    margin-left: 10px;
  }
  &__texte:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
}
