@mixin display-flex-align-items-center {
  display: flex;
  align-items: center;
}

@mixin left-right-auto {
  margin-left: auto;
  margin-right: auto;
}
@mixin survol-bouton {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.2s;
}

$couleur-primaire: #9356dc;
$couleur-secondaire: #ff79da;
$couleur-tertiaire: #99e2d0;
$couleur-gris-global: #f6f6f6;
$couleur-champs-recherche: #e6e6e6;

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

.text-align {
  text-align: center;
}
/* couleur texte footer et "bouton-explorer"*/
.font-color {
  color: white;
}
/*******/
.font-weight {
  font-weight: bold;
}

/*font*/
main,
footer {
  font-family: "Roboto";
}

/*loader à créer*/

/*header*/

.header__logo {
  box-shadow: inset 0 -7px 9px -7px grey;
  &__img {
    width: 50%;
    height: auto;
    margin-top: 28px;
    margin-bottom: 17px;
  }
}

/*recherche input paris, belleville*/

.presentation {
  background: lightgrey; /*mettre ce gris $couleur-gris-global*/
  padding-bottom: 50px;
  &__recherche {
    display: flex;
    justify-content: center;
    background: lightsteelblue; /*mettre ce gris $couleur-champs-recherche*/
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &__icon-map {
    font-size: 22px;
  }
  &__input {
    border: inherit;
    font-size: 18px;
    background: lightsteelblue; /*mettre ce gris $couleur-champs-recherche*/
    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
}

/********/

h1 {
  font-size: 32px;
  @include left-right-auto;
}

.sous-titre-h1 {
  font-size: 20px;
  @include left-right-auto;
}

.bouton-explorer {
  background: linear-gradient(0deg, $couleur-primaire, $couleur-secondaire);
  width: 200px;
  border-radius: 50px;
  margin: 30px auto 0 auto;
  padding: 17px;
  /* rajouter box shadow*/
  &:hover {
    @include survol-bouton;
  }
}

h2 {
  margin-left: 15px;
}

/*fonctionnement*/

.etape {
  @include display-flex-align-items-center;
  justify-content: space-around;
  background: lightgrey; /*mettre ce gris $couleur-gris-global*/
  border-radius: 25px;
  margin-bottom: 16px;
  width: 320px;
  height: 65px;

  @include left-right-auto;
  &:hover {
    @include survol-bouton;
  }

  &__nombre {
    display: block;
    color: white;
    background: $couleur-primaire;
    border-radius: 100%;
    font-size: 14px;
    width: 25px;
    height: 25px;
  }
  &__icon {
    font-size: 20px;
    color: grey;
    &--icon3 {
      color: $couleur-primaire;
      font-size: 20px;
    }
  }
  &__texte {
    font-size: 17px;
  }
}

/* cartes restaurants*/

.les-restaurants {
  background: lightgrey; /*mettre ce gris $couleur-gris-global*/
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}
.carte {
  background: white;
  box-shadow: 0px 0px 6px 0px grey;
  border-radius: 20px;
  width: 88%;
  margin: 20px auto;

  &:hover {
    @include survol-bouton;
  }
  &__photo {
    width: 100%;
    height: 200px;
    position: relative;
  }
  &__photo__img {
    border-radius: 18px 18px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__mention-nouveau {
    background: $couleur-tertiaire;
    color: #2c9c81;
    width: 100px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 8px;
  }
  &__legende {
    @include display-flex-align-items-center;
    justify-content: space-around;
  }
  &__nom-et-lieu {
    margin-right: 40px;
  }
  &__nom {
    margin-bottom: 7px;
    margin-top: 14px;
  }
  &__lieu {
    margin-top: 0;
    margin-bottom: 14px;
  }
  &__coeur {
    font-size: 30px;
    margin: 0 20px 30px 0;

    /*stroke-width: 10; appliquer avec svg
    /* stroke: black;*/
    /* fill: white;
      cursor: pointer;*/
  }
}

/*coeur revoir animation*/

.coeur__blanc {
  z-index: 0;
  position: absolute;
}
.coeur__couleur {
  color: violet;
  /* color: transparent;
    background: linear-gradient(to right, $color-primary, $couleur-secondaire);
    -webkit-background-clip: text;*/
  z-index: -1;
  position: absolute;
}

/*footer*/
.footer {
  background: black;
  &__logo img {
    width: 127px;
    height: 20px;
    filter: invert(100%);
    margin: 40px 0 0 25px;
  }
  &__list {
    padding: 0 0 35px 25px;
    margin-top: 26px;
    &__li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
  &__texte1 {
    margin-left: 16px;
  }
  &__texte2 {
    margin-left: 10px;
  }
  &__texte:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
}

/*desktop*/

@media all and (min-width: 992px) {
  /*header*/

  .header__logo img {
    width: 400px;
  }

  /**************/
  .fonctionnement {
    @include display-flex-align-items-center;
    margin-top: 30px;
  }

  .les-etapes {
    @include display-flex-align-items-center;
    justify-content: space-between;
  }

  .carte {
    width: 80%;
  }

  .les-restaurants__liste {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "la-palette-du-gout la-note-enchantee"
      "a-la-francaise le-delice-des-sens";
  }

  .la-palette-du-gout {
    grid-area: la-palette-du-gout;
  }
  .la-note-enchantee {
    grid-area: la-note-enchantee;
  }
  .a-la-francaise {
    grid-area: a-la-francaise;
  }
  .le-delice-des-sens {
    grid-area: le-delice-des-sens;
  }

  /*footer*/
  .footer {
    text-align: center;
    &__logo img {
      width: 400px;
      height: auto;
    }
  }
} /*fin media queries desktop*/
