@import "./_variables";
@import "./_mixins";
@import "./mediaqueries";

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

//font

main,
footer {
  font-family: "Roboto";
}

//création du loader
.chargement {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;
  animation: chargement 0.3s forwards ease-out;
  animation-delay: 2.7s;
}

@keyframes chargement {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.lettre {
  color: $couleur-primaire;
  font-weight: bolder;
  font-size: 50px;
  font-family: "Shrikhand";
  letter-spacing: 10px;
  animation: lettres 1.9s ease-out;
}

@keyframes lettres {
  0% {
    color: $couleur-secondaire;
    text-shadow: 0 0 1px $couleur-tertiaire;
  }

  90% {
    color: $couleur-primaire;
    text-shadow: none;
  }
  100% {
    color: $couleur-secondaire;
    text-shadow: 0 0 2px $couleur-tertiaire;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

//header

.header-accueil__logo {
  text-align: center;
  &__img {
    width: 50%;
    height: auto;
    margin-top: 28px;
    margin-bottom: 17px;
    @include responsive(mobile-large) {
      width: 200px;
      height: auto;
    }
    @include responsive(tablette) {
      width: 300px;
    }
  }
}

//recherche input Paris, Belleville

.presentation {
  background: $couleur-gris-global;
  padding-bottom: 50px;
  &__recherche {
    box-shadow: inset 0 7px 9px -7px grey;
    @include display-flex-align-items-center;
    justify-content: center;
    background: $couleur-gris-champs-recherche;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &__icon-map {
    font-size: 18px;
    @include responsive(tablette) {
      font-size: 20px;
    }
  }
  &__input {
    border: inherit;
    font-size: 16px;
    background: $couleur-gris-champs-recherche;
    text-align: center;
    @include responsive(tablette) {
      font-size: 20px;
    }
    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
}

h1 {
  font-size: 32px;
  text-align: center;
}

.sous-titre-h1 {
  font-size: 20px;
  text-align: center;
}

.bouton-explorer {
  @include boutons-explorer-commander;
}

h2 {
  margin-left: 25px;
  font-size: 28px;
  @include responsive(tablette) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

//fonctionnement
.les-etapes {
  @include responsive(desktop-large) {
    @include display-flex-align-items-center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.etape {
  @include display-flex-align-items-center;
  background: $couleur-gris-global;
  border-radius: 25px;
  margin-bottom: 16px;
  @include box-shadow;
  @include width-height(320px, 65px);
  margin-right: auto;
  margin-left: auto;
  @include responsive(desktop-large) {
    @include width-height(340px, 65px);
    margin-right: 15px;
  }
  &:hover {
    @include survol-boutons-etapes;
  }
  &__nombre {
    @include display-flex-align-items-center;
    justify-content: center;
    color: white;
    background: $couleur-primaire;
    border-radius: 100%;
    font-size: 14px;
    @include width-height(28px, 28px);
    transform: translateX(-45%);
    margin-right: 16px;
    @include responsive(desktop) {
      font-size: 17px;
    }
  }
  &__icon {
    font-size: 20px;
    color: grey;
    margin-right: 20px;
    &--icon3 {
      color: $couleur-primaire;
      font-size: 20px;
      margin-right: 20px;
    }
  }
  &__texte {
    font-size: 17px;
    @include font-weight-bold;
    @include responsive(desktop) {
      font-size: 20px;
    }
  }
}

// cartes restaurants

.les-restaurants {
  background: $couleur-gris-global;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
  .les-restaurants__liste {
    @include responsive(tablette) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "la-palette-du-gout la-note-enchantee"
        "a-la-francaise le-delice-des-sens";

      .la-palette-du-gout {
        grid-area: la-palette-du-gout;
      }
      .la-note-enchantee {
        grid-area: la-note-enchantee;
      }
      .a-la-francaise {
        grid-area: a-la-francaise;
      }
      .le-delice-des-sens {
        grid-area: le-delice-des-sens;
      }
    }
  }
}

.carte {
  background: white;
  @include box-shadow;
  border-radius: 20px;
  width: 88%;
  margin: 20px auto;
  @include responsive(desktop) {
    font-size: 20px;
  }

  &:hover {
    @include survol-carte;
  }
  &__photo {
    @include width-height(100%, 200px);
    position: relative;
  }
  &__photo__img {
    border-radius: 18px 18px 0 0;
    @include width-height(100%, 100%);
    object-fit: cover;
  }
  &__mention-nouveau {
    background: $couleur-tertiaire;
    text-align: center;
    @include font-weight-bold;
    color: #2c9c81;
    @include width-height(100px, 25px);
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 5px;
    @include responsive(desktop) {
      padding: 5px;
    }
  }
  &__legende {
    @include display-flex-align-items-center;
    justify-content: space-around;
    position: relative;
  }
  &__nom-et-lieu {
    margin-right: 40px;
  }
  &__nom {
    margin-bottom: 7px;
    margin-top: 14px;
  }
  &__lieu {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

// animation coeur

.coeur {
  @include apparition-coeur;
  &__coeur-blanc {
    @include responsive(desktop) {
      width: 30px;
    }
  }
}
//footer

.footer {
  background: black;
  color: white;
  @include responsive(mobile-large) {
    text-align: center;
  }
  &__logo img {
    @include width-height(127px, 20px);
    filter: invert(100%);
    margin: 40px 0 0 25px;
    @include responsive(mobile-large) {
      width: 200px;
      height: auto;
    }
    @include responsive(tablette) {
      width: 250px;
      height: auto;
    }
  }
  &__list {
    padding: 0 0 35px 25px;
    margin-top: 26px;
    @include responsive(mobile-large) {
      font-size: 20px;
    }
    &__li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
  &__texte1 {
    margin-left: 16px;
  }
  &__texte2 {
    margin-left: 10px;
  }
  &__texte:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
}

//limite de taille d'écran
.conteneursite {
  @include responsive(desktop-extra-large) {
    max-width: 1440px;
    margin: 0 auto;
  }
}
