@import "./_variables";
@import "./_mixins";
@import "./_placeholders";
@import "./mediaqueries";

a {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
}

//font

main,
footer {
  font-family: "Roboto";
}

//création du loader
.chargement {
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10001;

  // transition: opacity 5s ease-out;
  animation: chargement 0.3s forwards ease-out;
  animation-delay: 1.7s;
}

@keyframes chargement {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.lettre {
  color: $couleur-primaire;
  font-weight: bolder;
  font-size: 80px;
  font-family: "Shrikhand";
  letter-spacing: 10px;
  animation: lettres 1.9s ease-out;
}

@keyframes lettres {
  0% {
    color: $couleur-secondaire;
    text-shadow: 0 0 1px $couleur-tertiaire;
  }

  90% {
    color: $couleur-primaire;
    text-shadow: none;
  }
  100% {
    color: $couleur-secondaire;
    text-shadow: 0 0 2px $couleur-tertiaire;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

//header

.header-accueil__logo {
  box-shadow: inset 0 -7px 9px -7px grey;
  text-align: center;
  &__img {
    width: 50%;
    height: auto;
    margin-top: 28px;
    margin-bottom: 17px;
    @include responsive(mobile-paysage) {
      width: 300px;
    }
  }
}

//recherche input paris, belleville

.presentation {
  background: lightgrey; //mettre ce gris $couleur-gris-global
  padding-bottom: 50px;
  &__recherche {
    @extend %display-flex-align-items-center;
    justify-content: center;
    background: $couleur-champs-recherche; //mettre ce gris $couleur-champs-recherche
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  &__icon-map {
    font-size: 18px;
  }
  &__input {
    border: inherit;
    font-size: 16px;
    background: $couleur-champs-recherche; //mettre ce gris $couleur-champs-recherche
    text-align: center;
    &::placeholder {
      color: black;
      opacity: 1;
    }
  }
}

h1 {
  font-size: 32px;
  text-align: center;
}

.sous-titre-h1 {
  font-size: 20px;
  text-align: center;
}

.bouton-explorer {
  @include boutons-explorer-commander;
}

h2 {
  margin-left: 25px;
  font-size: 28px;
}

//fonctionnement

.etape {
  @extend %display-flex-align-items-center;
  background: lightgrey; //mettre ce gris $couleur-gris-global
  border-radius: 25px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 10px 0px grey;
  @include width-height(320px, 65px);
  margin-right: auto;
  margin-left: auto;
  &:hover {
    @extend %survol-boutons-etapes;
  }
  &__nombre {
    @extend %display-flex-align-items-center;
    justify-content: center;
    color: white;
    background: $couleur-primaire;
    border-radius: 100%;
    font-size: 14px;
    @include width-height(28px, 28px);
    transform: translateX(-45%);
    margin-right: 16px;
  }
  &__icon {
    font-size: 20px;
    color: grey;
    margin-right: 20px;
    &--icon3 {
      color: $couleur-primaire;
      font-size: 20px;
      margin-right: 20px;
    }
  }
  &__texte {
    font-size: 17px;
    @extend %font-weight-bold;
  }
}

// cartes restaurants

.les-restaurants {
  background: lightgrey; //mettre ce gris $couleur-gris-global
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 50px;
}
.carte {
  background: white;
  box-shadow: 0px 0px 6px 0px black;
  border-radius: 20px;
  width: 88%;
  margin: 20px auto;

  &:hover {
    @extend %survol-carte-restaurant;
  }
  &__photo {
    @include width-height(100%, 200px);
    position: relative;
  }
  &__photo__img {
    border-radius: 18px 18px 0 0;
    @include width-height(100%, 100%);
    object-fit: cover;
  }
  &__mention-nouveau {
    background: $couleur-tertiaire;
    text-align: center;
    @extend %font-weight-bold;
    color: #2c9c81;
    @include width-height(100px, 25px);
    position: absolute;
    top: 0;
    right: 10px;
    padding-top: 8px;
  }
  &__legende {
    @extend %display-flex-align-items-center;
    justify-content: space-around;
    position: relative;
  }
  &__nom-et-lieu {
    margin-right: 40px;
  }
  &__nom {
    margin-bottom: 7px;
    margin-top: 14px;
  }
  &__lieu {
    margin-top: 0;
    margin-bottom: 14px;
  }
}

// animation coeur

.coeur {
  position: relative;
  &__coeur-blanc {
    display: block;
    width: 20px;
    z-index: 0;
    position: relative;
    path {
      stroke-width: 20px;
      stroke: black;
    }
    transition: all ease 0.5s;
    opacity: 1;
  }
  &__coeur-blanc:hover {
    opacity: 0;
  }
  &__coeur-couleur {
    path {
      fill: url(#gradient-coeur);
    }
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.les-restaurants__liste {
  @include responsive(tablette) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "la-palette-du-gout la-note-enchantee"
      "a-la-francaise le-delice-des-sens";

    .la-palette-du-gout {
      grid-area: la-palette-du-gout;
    }
    .la-note-enchantee {
      grid-area: la-note-enchantee;
    }
    .a-la-francaise {
      grid-area: a-la-francaise;
    }
    .le-delice-des-sens {
      grid-area: le-delice-des-sens;
    }
  }
}

//footer

.footer {
  background: black;
  color: white;
  @include responsive(mobile-paysage) {
    text-align: center;
  }
  &__logo img {
    @include width-height(127px, 20px);
    filter: invert(100%);
    margin: 40px 0 0 25px;
  }
  &__list {
    padding: 0 0 35px 25px;
    margin-top: 26px;
    &__li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
  &__texte1 {
    margin-left: 16px;
  }
  &__texte2 {
    margin-left: 10px;
  }
  &__texte:hover {
    cursor: pointer;
    text-decoration-line: underline;
  }
}
